<h1>Geek Hunters!</h1>
<p>Welcome to the GRS application (ASP NET CORE 2.0 + Angular)</p>

<p><b>GRS system functional requirements:</b></p>
<ul>
    <li>register a new candidate:
        <ul>
            <li>first name / last name</li>
            <li>select technologies candidate has experience in from the predefined list</li>
        </ul>
    </li>
    <li>view all candidates</li>
    <li>filter candidates by technology</li>
</ul>
<p><b>GRS system non-functional requirements (extended):</b></p>
<ul>
    <li>Edit an existing candidate:
        <ul>
            <li>first name / last name</li>
            <li>re-select technologies candidate has experience in from the predefined list</li>
        </ul>
    </li>
    <li>Delete an existing candidate</li>
    <p></p>
    <li>View all skills</li>
    <li>Add new skill</li>
    <li>Delete an existing skill</li>
</ul>

<p><b><a href='https://web.postman.co/collections/144825-253de76e-aff9-45de-a5b6-8158627e466d?workspace=b712cd2b-ee40-4828-816c-94d5302d9cfb#introduction'>REST API description</a></b></p>

<p><b>The application built with:</b></p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://cli.angular.io//'>Angular CLI</a> for generate components</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a href='http://nunit.org/'>NUnit</a> for unit testing</li>
    <li>Packed in <a href='https://www.docker.com/'>Docker</a> image for platform independency and run as expected</li>
    <li>Continuous integration with <a href='https://travis-ci.com/'>Travis CI </a><i>(build,test,docker packaging,docker image pushing)</i></li>
</ul>
<p><b>Development DB context - Local Sql lite</b></p>
<p><b>Production DB context - Remote SQL Server</b></p>
<p><b>Working example - <a href='http://45.76.114.242/'>GeekHunters</a></b></p>
<p><b>Run on a new machine with simply one command:</b></p>
<ul>
    <b><i>docker run -d -p 80:80 --name=geekhunters apogoda/geekhunters</i></b>
</ul>




